{% extends 'base.html' %}

{% block head %}

    <style>
        iframe { width: 100dvw; height: 90dvh; margin: 0; padding: 0; border: 0; position: fixed; left: 0; top: 10dvh; }
    </style>

    <script src="/static/js-tools/modalManager.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">

{% endblock %}



{% block content %}

    <div id="modal"></div>
    <iframe></iframe>

{% endblock %}




{% block extras %}

<script>
    function checkDarkMode() {
        const isDarkMode = (x = getCookie("darkMode")) ? x === "true" : window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        if (isDarkMode) document.querySelector("html").style.colorScheme = "dark";
    }
    checkDarkMode();

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function openFilterAndSearchModal() {
        const base = createElement("div", {styles: {
            display: "grid",
            width: window.innerWidth > 800 ? "75dvw" : "90dvw",
            height: `minmax(min-content, ${window.innerWidth > 800 ? "85dvh" : "95dvh"})`,
            position: "absolute",
            top: "50%",
            left: "50%",
            translate: "-50% -50%",
            zIndex: 101,
            borderRadius: "1dvh",
            backgroundColor: "rgb(30, 30, 30)",
            gridTemplateColumns: "1fr",
            gridTemplateRows: "min-content 1fr min-content",
            padding: "5dvh 5dvw"
        }});

        const topText = createElement("p", {append: base, styles: {
            margin: 0, padding: 0,
            textAlign: "center",
        }, tc: "Enter search terms and filters here!"});

        const blank = createElement("div", {append: base});

        const buttonHolder = createElement("div", {append: base, styles: {
            display: "grid",
            gridTemplateColumns: "1fr 1fr",
            gridTemplateRows: "1fr"
        }});

        const addFilterButton = createElement("button", {append: buttonHolder, classname: "addFilterButton", tc: "Add Filter"});
        const confirmButton = createElement("button", {append: buttonHolder, classname: "confirmButton", tc: "Confirm Filters"});

        addFilterButton.addEventListener("click", () => addFilter(blank));
        confirmButton.addEventListener("click", () => confirmFilters(blank));

        console.log(base);

        openHTML(base.outerHTML);
    }

    function addFilter(filtersSectionElement) {

    }

    function confirmFilters(filtersSectionElement) {

    }

    document.addEventListener("DOMContentLoaded", () => openFilterAndSearchModal());

</script>

{% endblock %}