.addFilterButton { background-color: darkturquoise; margin-left: 7%; }
.confirmButton { background-color: aquamarine; margin-right: 7%; }

.addFilterButton, .confirmButton {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2dvh;
    padding: 1dvh 2dvh;
    border-radius: 0.5dvh;
    width: 80%;
    cursor: pointer;
}

.addFilterButton:hover, .confirmButton:hover {
    opacity: 0.9;
    transition-duration: 0.3s;
}