{% extends 'base.html' %}

{% block content %}

<h1>Add Event</h1>

<input type="time" placeholder="Start time">
<input type="time" placeholder="End time">
<input type="text" placeholder="Event name">
<input type="text" placeholder="Event description">
<label for="day">Day of week</label>
<input type="number" min="0" max="6" id="day">
<br>

{% for i in range(52) %}

    <input type="checkbox" id="day{{i}}">
    <label for="day{{i}}">Day {{i}}</label>
    <br>

{% endfor %}

<button type="submit">Submit</button>

{% endblock %}

{% block extras %}

    <script>

        document.querySelector('button').addEventListener('click', () => {

            const event = {
                name: document.querySelectorAll('input[type="text"]')[0].value,
                desc: document.querySelectorAll('input[type="text"]')[1].value,
                start: document.querySelectorAll('input[type="time"]')[0].valueAsNumber / (60 * 1000),
                end: document.querySelectorAll('input[type="time"]')[1].valueAsNumber / (60 * 1000),
                day: document.querySelector('input[type="number"]').valueAsNumber,
                weeks: Array.from(document.querySelectorAll('input[type="checkbox"]')).filter(x => x.checked).map(x => x.id.split('day')[1]),
            }

            console.log(event)

            $.ajax({
                type: 'POST',
                url: `/admin/addEvent/${window.location.pathname.split('/').at(-2)}`,
                data: JSON.stringify(event),
                contentType: 'application/json',
                success: (data) => {
                    console.log(data);
                    if (data.success) 
                        alert('Event added');
                    else alert('Failed to add event');
                }, 
                error: (data) => {
                    console.error(data);
                    alert('Failed to add event');
                }
            })

        })

    </script>

{% endblock %}