<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Timetable App{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <script src="/static/js-tools/ElementAssist.js"></script>

    {% block head %}{% endblock %}
</head>
    <body>
        {% block content %}This page has no content.{% endblock %}
    </body>

{% block extras %}{% endblock %}
</html>